<nav class="site-nav">
  <div class="nav-container">
    <a href="{{ '/' | relative_url }}" class="site-title">2ch /ai/ wiki</a>

    <ul class="nav-menu">
      <li class="nav-item">
        <a href="{{ '/nai/' | relative_url }}">NAI</a>
        <ul class="nav-submenu">
          <li><a href="{{ '/nai/index.html' | relative_url }}">Главная</a></li>
          <li><a href="{{ '/nai/install/amd.html' | relative_url }}">Установка AMD</a></li>
          <li><a href="{{ '/nai/install/clouds.html' | relative_url }}">Облака</a></li>
          <li><a href="{{ '/nai/interfaces.html' | relative_url }}">Интерфейсы</a></li>
          <li><a href="{{ '/nai/models/index.html' | relative_url }}">Модели</a></li>
          <li><a href="{{ '/nai/prompts.html' | relative_url }}">Промпты</a></li>
          <li><a href="{{ '/nai/upscale.html' | relative_url }}">Апскейл</a></li>
          <li><a href="{{ '/nai/lora/index.html' | relative_url }}">LoRA</a></li>
          <li><a href="{{ '/nai/controlnet/index.html' | relative_url }}">ControlNet</a></li>
          <li><a href="{{ '/nai/vae.html' | relative_url }}">VAE</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="{{ '/tech/' | relative_url }}">Tech</a>
        <ul class="nav-submenu">
          <li><a href="{{ '/tech/lycoris.html' | relative_url }}">Lycoris</a></li>
          <li><a href="{{ '/tech/optimizers.html' | relative_url }}">Оптимайзеры</a></li>
          <li><a href="{{ '/tech/sdxl.html' | relative_url }}">Обучение SDXL</a></li>
          <li><a href="{{ '/tech/yolo.html' | relative_url }}">Обучение YOLO</a></li>
          <li><a href="{{ '/tech/legacy.html' | relative_url }}">Legacy ссылки</a></li>
          <li><a href="{{ '/tech/old_threads.html' | relative_url }}">Архивы тредов</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="{{ '/speech/' | relative_url }}">Speech</a>
        <ul class="nav-submenu">
          <li><a href="{{ '/speech/index.html' | relative_url }}">Общее</a></li>
          <li><a href="{{ '/speech/tts/silero.html' | relative_url }}">Silero TTS</a></li>
          <li><a href="{{ '/speech/tts/xtts.html' | relative_url }}">XTTS</a></li>
          <li><a href="{{ '/speech/tts/edge.html' | relative_url }}">Edge TTS</a></li>
          <li><a href="{{ '/speech/sts/rvc/rvc.html' | relative_url }}">RVC</a></li>
          <li><a href="{{ '/speech/sts/svc/svc.html' | relative_url }}">SVC</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="{{ '/llama/' | relative_url }}">LLaMA</a>
        <ul class="nav-submenu">
          <li><a href="{{ '/llama/index.html' | relative_url }}">Общее</a></li>
          <li><a href="{{ '/llama/guides/kobold-cpp.html' | relative_url }}">KoboldCpp</a></li>
          <li><a href="{{ '/llama/guides/text-generation-webui.html' | relative_url }}">Text Generation WebUI</a></li>
          <li><a href="{{ '/llama/guides/tavern-ai.html' | relative_url }}">TavernAI</a></li>
          <li><a href="{{ '/llama/guides/hardware.html' | relative_url }}">Железо</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
